---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
import GiacomettiStudio from '../assets/giacomettis-studio-1024x675.jpg';
import { Image } from 'astro:assets';

---

<Layout title="GUY SIMONE ARTS">
    <div class="grid place-content-center">
        <figure class="w-full max-w-2xl">
            <Image src={GiacomettiStudio} alt="Giacometti Studio" class="w-full max-w-2xl xrounded-lg xshadow-lg" />
            <figcaption class="xtext-center text-sm text-gray-500">Studio Giacometti par Robert Doisneau.</figcaption>
        </figure>
    </div>
</Layout>
