---

---

<footer class="pt-16 pb-6 sm:pt-24 sm:pb-8">
    <p class="text-xs text-center">
        Contacte <a href="mailto:guy.simone@gmx.fr" class="decoration-dashed text-primary underline-offset-6">guy.simone AT gmx.fr</a> - Reseaux sociaux: <a
            href="https://instagram.com/guy_simone_arts"
            class="decoration-dashed text-primary underline-offset-8">guy_simone_art</a
        >s
    </p>
    <p class="text-red-700/40 text-xs text-center">Proudly Powered by Wordpress &copy 2023</p>
</footer>
